.container{
    padding: 40px;
    padding-left: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    background-color: white;
}
.outerBox{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-row-gap:20px;
    padding-top: 35px;
}
.left{
   padding-top: 22px;
    padding-left: 16px;
    padding-right: 12px;
    margin-left: 20px;
    background-color: white;
}
.fa-less-than{
    margin-right: 6px;
    color: gray;
}
.fa-certificate{
    color: rgb(21, 21, 219);
}
.right{
    display: flex;
    justify-content: center;
    /* padding: 30px 40px; */
}
.options{
    padding-left: 20px;
}